backend/uploads/*
!backend/uploads/.gitkeep
backend/.env

backend/results/*
!backend/results/.gitkeep
backend/app/utils/__pycache__/file_handler.cpython-313.pyc
backend/app/__pycache__/main.cpython-313.pyc
backend/app/api/v1/__pycache__/api.cpython-313.pyc
backend/app/api/v1/endpoints/__pycache__/detection.cpython-313.pyc
backend/app/core/__pycache__/config.cpython-313.pyc
backend/app/services/__pycache__/ai_service.cpython-313.pyc
backend/app/services/__pycache__/visualizer.cpython-313.pyc

__pycache__/
*.pyc
*.pyo
*.pyd